<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projeto_integrador_iv">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projeto_Integrador_IV"
        android:usesCleartextTraffic="true">
        <activity android:name=".Telas.atv_lista_funcionario"></activity>
        <activity android:name=".Telas.atv_cadastro_ordem_servico" />
        <activity android:name=".Telas.atvOrdemServico" />
        <activity android:name=".Telas.atvAgendamento" />
        <activity android:name=".Telas.atv_cadastro_agendamento" />
        <activity android:name=".Telas.atv_cadastro_servico" />
        <activity android:name=".Telas.atvServico" />
        <activity android:name=".Telas.atv_cadastro_cliente" />
        <activity android:name=".Telas.AtvCliente" />
        <activity android:name=".Telas.AtvPainel_controle" />
        <activity android:name=".Telas.TelaCadastrarFuncionario" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>